.content{
  padding-top: 10vh;
}

/**cards**/
.cards{
  margin-top: 45px;
}

.cards>div{
  padding: 0;
  box-shadow: 0 1px 0px black;
    border: 1px solid white;
}

.cards a{
  transition: color 0.3s ease, background 0.3s ease;
  padding: 40px 15px;
  height: 100%;
  display: block;
  background: #292929;
  color: white;
  text-decoration: none;
  color: #999;
}

.cards a:hover{
  background: #ddd;
  color: #333;
}
